* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
  }
  
  nav {
    /* background-color: black; */
    /* background-color: #a01a18; */
    background-color: #7D1412;
    height: 70px;
    /* overflow: hidden; */
    width: 100%;
    position: fixed;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-top: 1px;    /* if you want it vertically middle of the navbar. */
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    /* Added in 1/10 */
    left: 0;
    top: 50%;
    width: 100%;
    /* text-align: center; */
    /* display: inline-block; */
    /* list-style-type: none; */
  }
  
  /* This moves the words down up or down */
  nav li {
    margin: -60px 10px;
    /* Added in 1/10 */
    display: inline-block;
    text-align: center;
  }
  
  nav a {
    /* color: black; */
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Bangers', cursive;

    /* font-family: sans-serif;
    font-style: italic; */
    /* Added in 1/10 */
    display: block;
    text-align: center;
    /* First padding value moves words on nav bar down when increased */
    padding: 12px 10px;
    text-decoration: none;
    margin: 0
  }

   a:hover:not(.active) {
    /* background-color: #7D1412; */
    /* background-color: white; */
    background-color: black;
  }

  a {
    text-decoration: none;
  }
  
  .image-section {
    display: flex;
    align-items: center;
    /* position: relative; */
    /* background-color: ;#a01a18 */
    /* background-image: url(img/fillerimg1-small.jpg); */
    height: 100%;
    width: 100%;
    /* margin-left: 15%; */
    /* margin-top: 2%; */
    border-radius: 7px;
  }
  
  .image-section img {
    width: 100%;
    /* position: relative; */
    /* border: solid #a01a18; */
    height: auto;
    margin: auto;
    padding-top: 24px;
    
  }
  
  .paragraph-section {
    padding: 20px;
    text-align: center;
  }
  
  .paragraph-section p {
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    list-style-image: url("img/pillarblackbullet.png");
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
  }

  #list-img {
    font-weight: bold;
  }

  /* li {
    list-style-position: inside; */
    /* display: inline-block; */
    /* margin-left: 100px; */
  /* } */
  /* #list-img {
    text-align: center;
    list-style-position: outside;
    margin-left: auto;
  } */
  
  button {
    display: block;
    margin: 0 auto;
    background-color: #7D1412;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    /* This creates space between the paragraph and the button */
    margin-top: 30px;
    font-family: 'Bangers', cursive;
  }

  #a-button {
    color: white;
  }

  button:hover {
    background-color: black;
  }

  #contact-btn {
 display: block;
 margin: 0 auto;
 background-color: #7D1412;
 /* background-color: black; */
 font-size: 30px;
 border: none;
 border-radius: 4px;
 color: white;
 /* color: black; */
 padding: 10px 27px;
 cursor: pointer;
 /* This creates space between the paragraph and the button */
 margin-top: 30px;
 font-family: 'Bangers', cursive;
 text-align: center;
  }

  #contact-btn:hover {
    background-color: black;
  }

  /* form {
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    width: 500px;
    margin: 50px auto;
    background-color: purple;
   
  } */

  #contact {
    font-size: 30px;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    /* This creates space between the paragraph and the button */
    margin-top: 30px;
    font-family: 'Bangers', cursive;
  }

  #contact-form {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    width: 500px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: black;
  }

  /* Style the form heading */
  h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    /* color: black; */
    color: white;
    /* color: #a01a18; */
    /* color: #7D1412; */
    font-size: 40px;
    font-weight: normal;
    /* font-family: sans-serif; */
    font-family: 'Bangers', cursive;
    /* align-items: center; */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
  }

  /* .label {
    align-items: left;
    font-style: italic;
  } */

  ::placeholder {
    color: rgb(120, 109, 109);
    /* color: #853e3d; */
    font-style: italic;
    font-family: sans-serif;
  }
  
  input[type="text"], textarea {
    width: 100%;
    color: black;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    /* background-color: black; */
    /* background-color: #a01a18; */
    background-color: #7D1412;
    color: #ffffff;
    /* color: black; */
    font-family: 'Bangers', cursive;
    padding: 12px 20px;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #333; 
}

  /* -----------------------NEW FOOTER CSS----------------------------- */
  #footerp {
    /* color: white; */
    color: black;
    /* color: #7D1412; */
    background-color: #7D1412;
  }
  
  .site-footer {
    /* background-color: #838383; */
    /* background-color: #a01a18; */
    background-color: #7D1412;
    /* background-color: #333; */
    text-align: center;
    /* margin: 5px 0;
    padding: 5px 0; */
    /* margin: 2px 0; */
    padding: 2px 0;
    
    /* margin: 10px 0;
    padding: 10px 0; */
  }

  .store-footer {
    position: fixed;
    bottom: 0;
    width: 100%
  }

  #social-wrapper {
    text-align: center;
  }
  
  /*Social Media Icons*/
  .social-wrapper {
    text-align: center;
  }
  
  .social-wrapper ul li {
    display: inline;
    margin: 0 5px;
  }

  /* This was supposed to stop the rectangle on hover after anchor tag added, but did not work */
  /* .social-wrapper ul li a:hover {
    box-shadow: none;
  } */
  
  
  .fa-instagram,
  .fa-facebook, 
  .fa-tiktok
   {
    /* margin-top: 0.625em; */
    margin-top: 10px;
    /* color: #7D1412; */
    /* color: white; */
    color: black;
    /* font-size: 50px; */
    font-size: 35px;
    /* width: 80px;
    height: 80px; */
    width: 50px;
    height: 50px;
    opacity: 0.9;
    /*for IE8 and earlier*/
    filter: alpha(opacity=20);
    border-radius: 25px;
  }
  
  .fa-instagram:hover,
  .fa-facebook:hover,
  .fa-tiktok:hover
   {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* color: #7D1412; */
    color: #333;
  }

  #href-icon1:hover,
  #href-icon2:hover,
  #href-icon3:hover {
    text-decoration: none;
    background-color: transparent;
}

  .footer-nav p {
    padding-bottom: 10px;
  }

  
  .footer-nav p {
    text-align: center;
    font-weight: bold;
  }
  
  /* Store page css */
  nav {
    z-index: 2;
  }

  footer {
    z-index: 2;
  }

  #store-body {
    margin: 0;
    padding: 0;
  }

  /* section {
    margin-top: 10px;
  } */

  /* #store-nav {
    margin-bottom: 10px;
  } */

  #my-store-84842368 {
    padding-top: 100px;
    padding-bottom: 100px;
  }









  @media (max-width: 600px) {
    #contact-form {
      width: 300px;
    }
  }

  @media (max-width: 600px) {
    /* styles for devices with a maximum width of 600px */
  }
  @media (min-width: 600px) {
    /* styles for devices with a minimum width of 600px */
  }
  @media (max-height: 800px) {
    /* styles for devices with a maximum height of 800px */
  }
  @media (min-height: 800px) {
    /* styles for devices with a minimum height of 800px */
  }
  @media (resolution: 144dpi) {
    /* styles for devices with a screen resolution of 144dpi */
  }
  @media (aspect-ratio: 4/3) {
    /* styles for devices with a 4:3 aspect ratio */
  }
  @media (orientation: landscape) {
    /* styles for devices in landscape orientation */
  }
  @media (min-width: 600px) and (max-width: 900px) {
    /* styles for devices with a width between 600px and 900px */
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */

  
  
  